In [1]:
import numpy as np
import pandas as pd
import pysubgroup as ps

# pysubgroup example (not useful for us, see custom implementation)

In [2]:
import pysubgroup as ps

from pysubgroup.datasets import get_titanic_data
data = get_titanic_data()

target = ps.BinaryTarget ('Survived', True)
searchspace = ps.create_selectors(data, ignore=['Survived'])
task = ps.SubgroupDiscoveryTask (
    data,
    target,
    searchspace,
    result_set_size=5,
    depth=2,
    qf=ps.WRAccQF())
result = ps.BeamSearch().execute(task)

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [4]:
print(result.to_dataframe())

    quality                          subgroup  size_sg  size_dataset  \
0  0.132150                     Sex=='female'       56           156
1  0.101331        Parch==0 AND Sex=='female'       41           156
2  0.079142    Sex=='female' AND SibSp: [0:1[       25           156
3  0.077663  Cabin.isnull() AND Sex=='female'       43           156
4  0.071746   Embarked=='S' AND Sex=='female'       37           156

   positives_sg  positives_dataset  size_complement  relative_size_sg  \
0            40                 54              100          0.358974
1            30                 54              115          0.262821
2            21                 54              131          0.160256
3            27                 54              113          0.275641
4            24                 54              119          0.237179

   relative_size_complement  coverage_sg  coverage_complement  \
0                  0.641026     0.740741             0.259259
1                  0.737179     0.555556             0.444444
2                  0.839744     0.388889             0.611111
3                  0.724359     0.500000             0.500000
4                  0.762821     0.444444             0.555556

   target_share_sg  target_share_complement  target_share_dataset      lift
0         0.714286                 0.140000              0.346154  2.063492
1         0.731707                 0.208696              0.346154  2.113821
2         0.840000                 0.251908              0.346154  2.426667
3         0.627907                 0.238938              0.346154  1.813953
4         0.648649                 0.252101              0.346154  1.873874

# pysubgroup tinkering (not useful for us, see custom implementation)

In [5]:
import pysubgroup as ps

data = pd.read_csv("crop_yield.csv")

In [6]:
data

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909
...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

In [7]:
data["target"] = data["Yield"] > np.quantile(data["Yield"], 0.99)

In [8]:
data

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,target
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,False
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,False
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,False
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,True
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,False
...,...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000,False
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000,False
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000,False
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667,False
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818,False

In [9]:
target = ps.BinaryTarget("target", True)
searchspace = ps.create_selectors(data[["Crop", "Crop_Year", "Season", "State", "Area", "Annual_Rainfall", "Fertilizer", "Pesticide"]])
task = ps.SubgroupDiscoveryTask (
    data,
    target,
    searchspace,
    result_set_size=10,
    depth=10,
    qf=ps.WRAccQF())

In [10]:
result = ps.BeamSearch().execute(task)
print(result.to_dataframe())

    quality                                           subgroup  size_sg  \
0  0.008243         Crop=='Coconut ' AND Season=='Whole Year '      170
1  0.008242                                   Crop=='Coconut '      172
2  0.007406                              Season=='Whole Year '     3717
3  0.003771      Area: [19855.0:117678.0[ AND Crop=='Coconut '       75
4  0.003771  Area: [19855.0:117678.0[ AND Crop=='Coconut ' ...       75
5  0.003731  Fertilizer>=15563457.44 AND Season=='Whole Year '      454
6  0.003629      Pesticide>=31314.36 AND Season=='Whole Year '      455
7  0.003607  Fertilizer>=15563457.44 AND Pesticide>=31314.3...      397
8  0.003518  Area: [19855.0:117678.0[ AND Season=='Whole Ye...      872
9  0.003469       Crop=='Coconut ' AND Fertilizer>=15563457.44       69

   size_dataset  positives_sg  positives_dataset  size_complement  \
0         19689           164                197            19519
1         19689           164                197            19517
2         19689           183                197            15972
3         19689            75                197            19614
4         19689            75                197            19614
5         19689            78                197            19235
6         19689            76                197            19234
7         19689            75                197            19292
8         19689            78                197            18817
9         19689            69                197            19620

   relative_size_sg  relative_size_complement  coverage_sg  \
0          0.008634                  0.991366     0.832487
1          0.008736                  0.991264     0.832487
2          0.188786                  0.811214     0.928934
3          0.003809                  0.996191     0.380711
4          0.003809                  0.996191     0.380711
5          0.023059                  0.976941     0.395939
6          0.023109                  0.976891     0.385787
7          0.020164                  0.979836     0.380711
8          0.044289                  0.955711     0.395939
9          0.003504                  0.996496     0.350254

   coverage_complement  target_share_sg  target_share_complement  \
0             0.167513         0.964706                 0.001691
1             0.167513         0.953488                 0.001691
2             0.071066         0.049233                 0.000877
3             0.619289         1.000000                 0.006220
4             0.619289         1.000000                 0.006220
5             0.604061         0.171806                 0.006187
6             0.614213         0.167033                 0.006291
7             0.619289         0.188917                 0.006324
8             0.604061         0.089450                 0.006324
9             0.649746         1.000000                 0.006524

   target_share_dataset       lift
0              0.010006  96.416721
1              0.010006  95.295597
2              0.010006   4.920576
3              0.010006  99.944162
4              0.010006  99.944162
5              0.010006  17.171024
6              0.010006  16.693970
7              0.010006  18.881139
8              0.010006   8.939959
9              0.010006  99.944162

# Custom implementation

In [2]:
"""
Subgroup Discovery using Beam Search (Python)

This file contains a flexible implementation of subgroup discovery using beam search.
Features:
- Handles categorical and numeric attributes (numeric discretization via quantile thresholds)
- Beam search (width k) across conjunctions of attribute tests
- Supports binary or continuous target variable
- Configurable scoring functions: WRAcc (default for classification), correlation (for regression), precision, recall, F1, or custom callables
- Support for min_support and max_depth (max number of conditions per subgroup)
- Pretty printing + example usage on synthetic data

How to use:
- Import the SubgroupDiscovery class and call fit() with a pandas DataFrame and target column.

"""

from __future__ import annotations
from dataclasses import dataclass
from typing import Any, Callable, Dict, List, Tuple, Union
import pandas as pd
import numpy as np

Condition = Tuple[str, str, Any]  # (feature, operator, value)
Pattern = Tuple[Condition, ...]


@dataclass
class Subgroup:
    pattern: Pattern
    coverage: int
    target_stat: float  # mean target (continuous) or positives (discrete)
    score: float

    def __str__(self) -> str:
        conds = [f"{f} {op} {v}" for (f, op, v) in self.pattern]
        return f"IF {' AND '.join(conds)} -> coverage={self.coverage}, target_stat={self.target_stat:.4f}, score={self.score:.4f}"


class SubgroupDiscovery:
    def __init__(
        self,
        beam_width: int = 10,
        max_depth: int = 3,
        min_support: Union[int, float] = 0.05,
        numeric_thresholds: int = 5,
        scoring: Union[str, Callable[[int, float, int, float], float]] = "corr",
        target_type: str = "continuous",  # "binary" or "continuous"
        target_positive: Any = 1,
        verbose: bool = False,
    ) -> None:
        """
        Parameters
        ----------
        beam_width: int
            Number of patterns to keep at each level of the beam.
        max_depth: int
            Maximum number of conditions in a pattern.
        min_support: int or float
            Minimum support for a pattern. If float between 0 and 1 -> fraction of records.
        numeric_thresholds: int
            Number of quantile-based thresholds to generate for numeric attributes.
        scoring: str or callable
            'wracc', 'precision', 'recall', 'f1' for binary target;
            'corr' for continuous target;
            or a custom callable with signature (n_cover, target_stat, n_total, global_stat) -> score
        target_type: str
            'binary' for classification, 'continuous' for regression-style subgroup discovery
        target_positive: value considered as positive class if binary
        verbose: bool
            Print progress messages.
        """
        self.beam_width = beam_width
        self.max_depth = max_depth
        self.min_support = min_support
        self.numeric_thresholds = numeric_thresholds
        self.verbose = verbose
        self.target_type = target_type
        self.target_positive = target_positive

        if isinstance(scoring, str):
            self.scoring_name = scoring
            if target_type == "binary":
                if scoring == "wracc":
                    self.scoring = self._score_wracc
                elif scoring == "precision":
                    self.scoring = self._score_precision
                elif scoring == "recall":
                    self.scoring = self._score_recall
                elif scoring == "f1":
                    self.scoring = self._score_f1
                else:
                    raise ValueError(f"Unknown scoring string for binary target: {scoring}")
            elif target_type == "continuous":
                if scoring == "corr":
                    self.scoring = self._score_corr
                else:
                    raise ValueError(f"Unknown scoring string for continuous target: {scoring}")
            else:
                raise ValueError("target_type must be 'binary' or 'continuous'")
        else:
            self.scoring_name = "custom"
            self.scoring = scoring

        # internals
        self.feature_types: Dict[str, str] = {}
        self.thresholds: Dict[str, List[float]] = {}
        self.best_subgroups: List[Subgroup] = []

    # ----------------------- scoring functions -----------------------
    def _score_wracc(self, n_cover: int, n_pos: int, n_total: int, n_pos_total: int) -> float:
        if n_cover == 0:
            return 0.0
        p_global = n_pos_total / n_total
        p_sub = n_pos / n_cover
        coverage_frac = n_cover / n_total
        return coverage_frac * (p_sub - p_global)

    def _score_precision(self, n_cover: int, n_pos: int, n_total: int, n_pos_total: int) -> float:
        if n_cover == 0:
            return 0.0
        return n_pos / n_cover

    def _score_recall(self, n_cover: int, n_pos: int, n_total: int, n_pos_total: int) -> float:
        if n_pos_total == 0:
            return 0.0
        return n_pos / n_pos_total

    def _score_f1(self, n_cover: int, n_pos: int, n_total: int, n_pos_total: int) -> float:
        prec = self._score_precision(n_cover, n_pos, n_total, n_pos_total)
        rec = self._score_recall(n_cover, n_pos, n_total, n_pos_total)
        if prec + rec == 0:
            return 0.0
        return 2 * (prec * rec) / (prec + rec)

    def _score_corr(self, n_cover: int, mean_sub: float, n_total: int, mean_global: float) -> float:
        if n_cover == 0:
            return 0.0
        # difference in means, scaled by coverage fraction
        coverage_frac = n_cover / n_total
        return coverage_frac * abs(mean_sub - mean_global)

    # ----------------------- helpers -----------------------
    def _detect_feature_types(self, df: pd.DataFrame, exclude: str) -> None:
        for col in df.columns:
            if col == exclude:
                continue
            if pd.api.types.is_numeric_dtype(df[col]):
                self.feature_types[col] = "numeric"
            else:
                self.feature_types[col] = "categorical"

    def _generate_thresholds(self, df: pd.DataFrame) -> None:
        self.thresholds = {}
        for f, t in self.feature_types.items():
            if t == "numeric":
                vals = df[f].dropna().unique()
                if len(vals) <= self.numeric_thresholds:
                    thr = sorted(vals)
                else:
                    # quantile-based thresholds
                    qs = np.linspace(0, 1, self.numeric_thresholds + 2)[1:-1]
                    thr = sorted(pd.Series(df[f].dropna()).quantile(qs).unique())
                self.thresholds[f] = thr
            else:
                self.thresholds[f] = sorted(df[f].dropna().unique())

    def _apply_condition(self, df: pd.DataFrame, cond: Condition) -> pd.Series:
        f, op, v = cond
        if op == "==":
            return df[f] == v
        elif op == "<=":
            return df[f] <= v
        elif op == ">":
            return df[f] > v
        else:
            raise ValueError(f"Unknown operator: {op}")

    def _apply_pattern_mask(self, df: pd.DataFrame, pattern: Pattern) -> np.ndarray:
        if len(pattern) == 0:
            return np.ones(len(df), dtype=bool)
        masks = [self._apply_condition(df, cond) for cond in pattern]
        return np.logical_and.reduce(masks)

    def _pattern_to_str(self, pattern: Pattern) -> str:
        return " AND ".join([f"{f}{op}{v}" for (f, op, v) in pattern])

    # ----------------------- beam search core -----------------------
    def fit(self, df: pd.DataFrame, target: str, top_k: int = 10) -> List[Subgroup]:
        """
        Run beam search to find top_k subgroups.

        Returns list of Subgroup objects sorted by score descending.
        """
        df = df.copy()
        n_total = len(df)
        if n_total == 0:
            return []

        # interpret min_support
        if 0 < self.min_support < 1:
            min_sup_count = max(1, int(np.ceil(self.min_support * n_total)))
        else:
            min_sup_count = int(self.min_support)

        # globals
        self._detect_feature_types(df, exclude=target)
        self._generate_thresholds(df)

        if self.target_type == "binary":
            global_stat = int((df[target] == self.target_positive).sum())
        else:  # continuous
            global_stat = df[target].mean()

        if self.verbose:
            print(f"n_total={n_total}, global_stat={global_stat}, min_sup_count={min_sup_count}")

        # initial candidates: single conditions
        initial_candidates: List[Pattern] = []
        for f, t in self.feature_types.items():
            for val in self.thresholds[f]:
                if t == "numeric":
                    initial_candidates.append(((f, "<=", float(val)),))
                    initial_candidates.append(((f, ">", float(val)),))
                else:
                    initial_candidates.append(((f, "==", val),))

        # evaluate initial candidates and form first beam
        scored: List[Subgroup] = []
        for p in initial_candidates:
            mask = self._apply_pattern_mask(df, p)
            n_cover = int(mask.sum())
            if n_cover < min_sup_count:
                continue
            if self.target_type == "binary":
                n_pos = int(((df.loc[mask, target]) == self.target_positive).sum())
                stat = n_pos
                score = self.scoring(n_cover, n_pos, n_total, global_stat)
            else:
                mean_sub = df.loc[mask, target].mean()
                stat = mean_sub
                score = self.scoring(n_cover, mean_sub, n_total, global_stat)
            scored.append(Subgroup(p, n_cover, stat, score))

        # sort beam by score
        scored.sort(key=lambda s: s.score, reverse=True)
        beam = [s.pattern for s in scored[: self.beam_width]]
        self.best_subgroups = scored[:top_k]

        
        # iterative expansion
        for depth in range(2, self.max_depth + 1):
            if len(beam) == 0:
                break

            candidates: List[Pattern] = []
            seen_pattern_keys: set = set()

            for pattern in beam:
                used_features = {c[0] for c in pattern}
                for f, t in self.feature_types.items():
                    if f in used_features:
                        continue
                    ops = ("<=", ">") if t == "numeric" else ("==",)
                    for val in self.thresholds[f]:
                        for op in ops:
                            v = float(val) if t == "numeric" else val
                            new_pat = tuple(list(pattern) + [(f, op, v)])
                            
                            new_pat_sorted = tuple(sorted(new_pat, key=lambda x: (x[0], x[1], str(x[2]))))
            
                            key = frozenset(new_pat_sorted)
            
                            if key in seen_pattern_keys:
                                continue
            
                            seen_pattern_keys.add(key)
                            candidates.append(new_pat_sorted)

            # evaluate candidates and pick top beam_width
            scored_next: List[Subgroup] = []
            for p in candidates:
                mask = self._apply_pattern_mask(df, p)
                n_cover = int(mask.sum())
                if n_cover < min_sup_count:
                    continue
                if self.target_type == "binary":
                    n_pos = int(((df.loc[mask, target]) == self.target_positive).sum())
                    stat = n_pos
                    score = self.scoring(n_cover, n_pos, n_total, global_stat)
                else:
                    mean_sub = df.loc[mask, target].mean()
                    stat = mean_sub
                    score = self.scoring(n_cover, mean_sub, n_total, global_stat)
                scored_next.append(Subgroup(p, n_cover, stat, score))

            scored_next.sort(key=lambda s: s.score, reverse=True)
            beam = [s.pattern for s in scored_next[: self.beam_width]]

            combined = self.best_subgroups + scored_next
            combined.sort(key=lambda s: s.score, reverse=True)
            self.best_subgroups = combined[:top_k]

        self.best_subgroups.sort(key=lambda s: s.score, reverse=True)
        return self.best_subgroups

In [3]:
data = pd.read_csv("crop_yield.csv")
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [4]:
sd = SubgroupDiscovery(beam_width=8, max_depth=4, min_support=0.01, numeric_thresholds=5, scoring="corr", target_type="continuous", verbose=True)
top = sd.fit(data[["Crop", "Crop_Year", "Season", "State", "Area", "Annual_Rainfall", "Fertilizer", "Pesticide", "Yield"]], target="Yield", top_k=10)

n_total=19689, global_stat=79.95400913008669, min_sup_count=197

In [5]:
for s in top:
    print(s)

IF Area > 563.3333333333326 AND Fertilizer > 78477.59999999998 AND Pesticide > 146.02333333333328 AND Season == Whole Year  -> coverage=3040, target_stat=490.8812, score=63.4475
IF Fertilizer > 78477.59999999998 AND Pesticide > 146.02333333333328 AND Season == Whole Year  -> coverage=3049, target_stat=489.4568, score=63.4148
IF Area > 563.3333333333326 AND Pesticide > 146.02333333333328 AND Season == Whole Year  -> coverage=3076, target_stat=485.2494, score=63.3190
IF Area > 563.3333333333326 AND Fertilizer > 78477.59999999998 AND Season == Whole Year  -> coverage=3076, target_stat=485.2368, score=63.3171
IF Fertilizer > 78477.59999999998 AND Season == Whole Year  -> coverage=3089, target_stat=483.2561, score=63.2739
IF Pesticide > 146.02333333333328 AND Season == Whole Year  -> coverage=3099, target_stat=481.6875, score=63.2319
IF Area > 563.3333333333326 AND Season == Whole Year  -> coverage=3123, target_stat=478.0702, score=63.1478
IF Season == Whole Year  -> coverage=3717, target_stat=412.9955, score=62.8734
IF Annual_Rainfall > 849.9 AND Fertilizer > 78477.59999999998 AND Pesticide > 146.02333333333328 AND Season == Whole Year  -> coverage=2626, target_stat=530.6725, score=60.1141
IF Annual_Rainfall > 849.9 AND Area > 563.3333333333326 AND Fertilizer > 78477.59999999998 AND Season == Whole Year  -> coverage=2648, target_stat=526.3465, score=60.0359